NODE_ENV=development
APP_ENV=local
SINGLE_USER_ID=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FCM_ANDROID_DEVICE_TOKEN=
CRON_SECRET=
